.btn-exit {
  font-family: 'SF Pro', sans-serif;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 20px;
  line-height: 22px;
  align-self: flex-end;
  color: #1157A7;
  height: 28px;
  width: 100px;
  display: flex;
  align-items: center;
  background: right / 18px 18px url('../../images/log-out.svg') no-repeat;
  margin: 26px 31px 0 0;
}

.departures {
  font-family: 'SF Pro', sans-serif;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  max-width: 680px;
  width: 100%;
  padding: 55px 40px 60px;
  margin: 15px 0 0;
}

.departures__block {
  display: flex;
  justify-content: space-between;
}

.departure__direction-block {
  display: flex;
  font-family: 'Roboto', sans-serif;
}

.departure__direction {
  color: #424242;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  margin: 0;
}

.departure__title::after {
  display: inline-block;
  content: "";
  width: 9px;
  height: 17px;
  margin: 0 20px 0;
  background: center / contain url('../../images/arr-right.svg') no-repeat;
}

.departure__calendar {
  cursor: pointer;
  border: none;
  color: #1157A7;
  font-weight: 600;
  font-size: 25px;
  line-height: 22px;
}

.departure__calendar::-webkit-calendar-picker-indicator {
  cursor: pointer;
  margin-left: -15px;
  background: center / contain url('../../images/calendar-logo.svg') no-repeat;
}